*.pyc
.settings/org.eclipse.ltk.core.refactoring.prefs
*.c
*.exe
*.libs
*.makefile
*.o
*.h
*.log
*.mat
*.xml
dist/
old/
*.pydevproject
models/PowerSystems.mo
.pydevproject
*.json
*.exp
*.lib
models/success
res/dymola/buildlog.txt
res/dymola/dsfinal.txt
res/dymola/dsin.txt
res/dymola/dslog.txt
*.png
